<ion-header class="ion-no-border">
  <ion-toolbar color="danger" class="ion-no-border">
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="cancelModal()">
        <ion-icon color="light" name="close-circle-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title  class="ion-text-left">{{ 'PACKAGE_INFO' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  [fullscreen]="true">
<ion-card>
  <ion-item lines="none" >
    <ion-icon name="scan-outline" slot="start"></ion-icon>
    <ion-label class="ion-text-wrap"> <strong>  {{'TRACKING_NUMBER_TEXT' | translate }} : </strong> <span> {{package &&  package.PACKAGE_CODE ?  package.PACKAGE_CODE : ''}}</span></ion-label>
  </ion-item>

  <ion-item lines="none" >
    <ion-icon name="mail-open-outline" slot="start"></ion-icon>
    <ion-label class="ion-text-wrap"> <strong> {{'RECEIVER_FIRST_LAST_NAME' | translate }} : </strong> <span>  {{package &&  package.RECEIVER_NAME ?  package.RECEIVER_NAME   :  package.RECEIVER_LAST_NAME ?  package.RECEIVER_LAST_NAME  : ''}}</span></ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-icon name="gift-outline" slot="start"></ion-icon>
    <ion-label> <strong> {{'PACKAGE_WEIGHT' | translate }} : </strong> <span>{{package &&  package.PACKAGE_WEIGHT ?  package.PACKAGE_WEIGHT : ''}} {{ organisation && organisation.weight ? organisation.weight : ''}} </span> </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-icon name="information-outline" slot="start"></ion-icon>
    <ion-label> <strong> {{'BAG_NUMBER' | translate }} : </strong> <span> {{package &&  package.PACKAGE_LABEL ?  package.PACKAGE_LABEL : ''}}</span></ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-icon name="call-outline" slot="start"></ion-icon>
    <ion-label> <strong> {{'PHONE_NUMBER' | translate }} : </strong> <span> {{package &&  package.RECEIVER_PHONE_NUMBER ?  package.RECEIVER_PHONE_NUMBER   : ''}}</span> </ion-label>
  </ion-item>


  <ion-item lines="none">
    <ion-icon name="checkmark-outline" slot="start"></ion-icon>
    <ion-label> <strong> {{'STATUT_TEXT' | translate }} : </strong> <span> {{statut ?  statut   : ''}}</span> </ion-label>
  </ion-item>

  <div class="ion-margin-top">
    <ion-row class="ion-text-left">
      <ion-col offset="3"> <strong> {{'AMOUNT_TO_PAY' | translate }} :</strong>  </ion-col>
      <ion-col> <span> {{amount &&  amount.total ?  amount.total  : '0'}} {{ organisation && organisation.currency ? organisation.currency : ''}}</span></ion-col>
    </ion-row>
    <ion-row class="ion-text-left">
        <ion-col offset="3"> <strong> {{'AMOUNT_PAY' | translate }} : </strong></ion-col>
        <ion-col> <span> {{amount &&  amount.amountPay ?  amount.amountPay  : '0'}} {{ organisation && organisation.currency ? organisation.currency : ''}}</span> </ion-col>
    </ion-row>
    <ion-row class="ion-text-left">
        <ion-col offset="3"> <strong> {{'REST_TO_PAY' | translate }} : </strong> </ion-col>
        <ion-col><span> {{amount &&  amount.restToPay ?  amount.restToPay  : '0'}} {{ organisation && organisation.currency ? organisation.currency : ''}}</span></ion-col>
    </ion-row>
  </div>


</ion-card>
</ion-content>

