
ion-item {
  ion-label {
    --color : var(--ion-color-dark);
    font-weight: bold;
    opacity: 0.5;
    font-size: .9rem;
  }
}


.package-zone {
  border: 1px dashed #222;
  margin-top: 10px;
}



