
.tracking-block {
  h2 {
    font-size: 1.2rem;
    font-weight: 600;
  }

  p {
    font-size: .8rem;
    opacity: .6;
  }

  ion-button {
    text-transform: capitalize;
    text-decoration: underline;
  }
}

.ckeck {
  ion-button {
    text-transform: capitalize;
    text-decoration: underline;
  }
}

